/*item*/
li {
  list-style: none;
  height: 38px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

li label {
  float: left;
  cursor: pointer;
}

li label input {
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -1.5px;
}

li button {
  float: right;
  display: none;
  margin-top: 4px;
}

li:before {
  content: initial;
}

li:last-child {
  border-bottom: none;
}
